page-home {

}
.post-detail {
	
}
.featured-image {
	    max-height: 300px;
	    height: auto;
	    width: auto;
	    display: block;
	    margin: 0 auto;
	}
.post_title{
	white-space: normal;
	font-size: 1.4rem;
}